/* ipad size responsive style  */
@media screen and (max-width: 800px) {
    .uni-padding{
        padding: 0px 50px;
    }
    .nootbook{
        height: fit-content;
    }
    #read_btn{
        height: 150px;
        margin-top: -110px;
    }
    .srcItem {
        width: 80%;
    }

    .uniLogo {
        grid-template-columns: auto auto;

    }

    .uniItem {
        margin: 10px 0px;
    }


    .semContainte {
        grid-template-columns: auto auto;
        height: fit-content;
    }

    .semBtn {
        margin: 10px 0px;
    }

    .paperBtn {
        max-width: 230px;
    }

    .card {
        width: 160px;
    }
}

/* mobile screen responsive css  */
@media screen and (max-width: 520px) {
    .uni-padding{
        padding: 0px 20px;
    }
    .nootbook{
        height: fit-content;
    }
    #read_btn{
        height: 110px;
        margin-top: -80px;
    }
    .srcBy h1 {
        font-size: 40px;
    }

    .inSrc {
        grid-template-columns: auto;
    }

    .srcItem {
        width: 70vw;
        margin: 10px;
    }

    .selectUniver>h1,
    .selectPaper>h1,
    .selectSem>h1,
    .selectCourse>h1,
    .selectYear>h1 {
        font-size: 20px;
    }

    .uniLogo {
        grid-template-columns: auto;
    }

    .uniItem {
        height: 200px;
        width: 180px;
    }
    .uniItem>img{
        height: 120px;
        width: 120px;
    }
    .semContainte{
        grid-template-columns: auto;
        justify-content: center;
    }
    .semBtn{
       width: 70vw;
    }
    /* temp  */
    .paperContainer{
        grid-template-columns: auto;
    }
    .paperBtn{
        width: 70vw;
    }
    .yearContainer{
        grid-template-columns: auto;
    }
    .card{
        margin: 30px 0px;
    }

}


/* nav bar responsive  */
@media screen and (max-width: 1000px) {
    .nav_bar ul li a {
        display: none;
    }

    .nav_bar a.icon {
        float: right;
        display: block;
    }

    /* .responsive {
        background-color: bisque;
        border: 2px solid red;
        display: block;
        width: 100%;
        height: 100vw;
        z-index: 500;
        position: relative;
        float: right;
    }

    .responsive ul li a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .responsive ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Ubuntu', sans-serif;
        display: block;
        text-align: right;
    } */
}













/* footer responsive  */
@media (max-width: 700px) {
    footer {
        position: relative;
    }

    .content .top .logo-details {
        font-size: 26px;
    }

    .content .top .media-icons a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 35px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 3 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 60%;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    footer::before {
        top: 145px;
    }

    footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 16px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 100%;
    }
}