/* Import google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kanit&family=Ubuntu:wght@300&display=swap');


* {
  margin: 0px;
  padding: 0;
}

.uni-padding {
  padding: 0px 80px;
}

body {
  background-image: linear-gradient(to right, #7becf1, #004aad);
}

/* navber style  */
.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0px 0px 0px;
  overflow: hidden;

}

.nav_bar ul li {
  float: right;
}

.nav_bar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}
.nav_bar .icon{
  /* Hide the link that should open and close the topnav on small screens */
  display: none;
}


/* code pen css for hover efect  */
.nav_bar ul li a {
  display: inline-block;
  position: relative;

}

.nav_bar ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav_bar ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* code pen css for hover efect  */

#logo {
  height: 160px;
  width: 160px;
  margin-top: -52px;
}

/* Main nootbook landing section  */
.nootbook {
  display: block;
  margin: auto;
  height: fit-content;
  width: 100%;
  margin-top: -20px;
}

#read_btn {
  /* background-color: #662d91;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px; */
  height: 257px;
  display: block;
  margin: auto;
  margin-top: -185px;
}


/* Search by section  */
.srcBy h1 {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 70px;
}

.inSrc {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}

/* Course University section */
.srcItem {
  margin: 0px 20px;
  background: linear-gradient(to right, #fff0b1, #ffe682);
  background-color: #fff0b1;
  color: #000;
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  padding: 20px 15px;
  border: 0px solid #000;
  border-radius: 23px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px #2D2D2D;
  cursor: pointer;
}

.srcItem:hover {
  background: linear-gradient(to right, #fceaa1, #ffe374);
}

.srcItem:active {
  transform: scale(0.95);
}

/* <!-- Select Your University section  --> */
.selectUniver>h1 , .selectPaper>h1, .selectSem>h1, .selectCourse>h1, .selectYear>h1{
  font-family: 'Kanit', sans-serif;
  font-size: 45px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 20px 0px;
  margin-top: 10px;
}

.uniLogo {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  cursor: pointer;
}

.uniItem {
  height: 220px;
  width: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 20%;
  box-shadow: 0px 0px 10px 0px #2D2D2D;
}
/* click efect  */
.uniItem:active {
  transform: scale(0.95);
}

.uniItem>img {
  height: 132px;
  width: 132px;
  display: block;
  margin: auto;
  padding: 17px;
}

.uniItem>h1 {
  text-align: center;
  font-family: inherit;
}

/* <!-- Semester Btn  --> */
.semContainte {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  height: 150px;
  justify-content: space-between;
  align-content: space-around;
}

.semBtn {
  background: #fffeb1;
  background-image: -webkit-linear-gradient(top, #fffeb1, #ffe682);
  background-image: -moz-linear-gradient(top, #fffeb1, #ffe682);
  background-image: -ms-linear-gradient(top, #fffeb1, #ffe682);
  background-image: -o-linear-gradient(top, #fffeb1, #ffe682);
  background-image: linear-gradient(to bottom, #fffeb1, #ffe682);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 26px;
  box-shadow: 0px 0px 10px 0px #2D2D2D;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.semBtn:hover {
  background: linear-gradient(to right, #fceaa1, #ffe374);
}

.semBtn:active {
  transform: scale(0.95);
}
                
/* select your paper section  */
.paperContainer{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  justify-content: space-evenly;
}

.paperBtn{
  background: rgb(255,102,196);
  background: linear-gradient(90deg, rgba(255,102,196,1) 0%, rgba(255,222,89,1) 100%);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #000000;
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  margin: 10px 0px;
  cursor: pointer;
  max-width: 350px;
  -webkit-box-shadow: 6px 5px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 5px 13px 0px rgba(0,0,0,0.75);
box-shadow: 6px 5px 13px 0px rgba(0,0,0,0.75);

}
.paperBtn:hover {
  background: linear-gradient(to right, #ffde59, #ff914d);
}

.paperBtn:active {
  transform: scale(0.95);
}

/* select year of pepar section  */
.yearContainer{
  display: grid;
  grid-template-columns: auto auto auto;
 
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.card{
  height: 230px;
  width: 180px;
  border: 2px solid black;
  background-color: white;
  padding: 5px;
  border-radius: 15%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.card>h1{
  padding: 30px 0px 0px 0px;
  color: #376cfb;
  font-size: 40px;
}

#readIcon{
  padding:  32px;
}
.card>img{
  border: 2px solid black;
  border-radius: 50%; 
  height: 70px; 
  width: 70px;
  cursor: pointer;
}
.card>img:active {
  transform: scale(0.95);
}




/* footer style  */
footer{
  
  background: #002f9e;
  width: 100%;
  bottom: 0;
  left: 0;
}

footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  /* position: relative; */
}
.link-boxes .box .link_name::before{
  content: '';
  /* position: absolute; */
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #001f66;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}